/* universal selection */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared design */
body{
   font-family: "Inter", sans-serif;
}

.container{
max-width: 1360px;
margin: 0 auto;
}

.btn:hover{
box-shadow: 0 0 20px #469165;


}
button{
  border-radius: 4px;
  background-color: #469165;
  color:#FFFFFF ;
  font-weight: 600;
  max-width:max-content;
  cursor: pointer;
  border: none;
}

a{
  cursor:pointer;
}

p{
  color: #627382;
  line-height: 20px;
}




/* individual design */

.navigation_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}


.navigation_menu img{
  width: 139px;
  height: 60px;
}


.navigation_menu ul {
  display: flex;
  gap: 32px;
  list-style: none;
}


.navigation_menu ul li a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.navigation_menu button{
  padding: 12px 16px;

}



/* hero banner design */

.banner_section{
  padding: 115px 120px 179px;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.banner_main_container{
text-align: center;
max-width:800px;
margin: 0 auto;
}


.banner_main_container .early_access_demo{
  padding: 8px 12px;
  background-color: #FFFFFF;
display: inline-block;
  border-radius: 25px;
  color: #30B868;
  font-weight: 500;
}





.banner_main_container h2{
  font-size:72px ;
  font-weight: bold;
  color: #FFFFFF;
margin: 16px 0;
  text-transform: capitalize;

}

.banner_main_container .primary{
  color: #30B868;
}




.banner_main_container p{
  font-size: 18px;
  line-height:36px;
  color: #FFFFFF;
  font-weight: 400;
}

.hero_button_area{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 24px 0;
}

.hero_button_area .start_btn{
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

 #play_btn{
  background: none;
  border: 1px solid #FFFFFF;
  padding: 16px;
  color: #FFFFFF;
}

#play_btn:hover{
border-color: #F95555;
color: #469165;

}


/* notes section design */

.notes_section{
  background-color: rgb(250, 250, 250);
  padding-top: 50px;
}


.notes_main_container{
  text-align: center;
}

.notes_main_container h3{
color: #001931;
font-size: 48px;
font-weight: bold;
margin-bottom: 16px;
text-transform: capitalize;
}

.notes_main{
  display: flex;
  margin-top: 44px;
  gap: 24px;
}

.note{
  display: flex;
  flex-direction: column;
  gap:16px ;
align-items: center;
justify-content: center;
padding: 24px;
background-color: #FFFFFF;
flex: 1;
border-radius: 8px 8px 0 0;
}


.note img{
  width: 60px;
padding: 12px;
  border-radius: 50%;
  background-color: #F95555;
  color: #FFFFFF;
}

.note h6{
  font-size: 24px;
  color: #001931;
  font-weight: 600;
}


/* brain section */


.brain_section{
  padding: 120px 0;
}
    

.brain_container_main{
  display: flex;
  gap:60px ;
 align-items: center;
}


.brain_info{
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
}

.brain_info .brain_mini_text{
  color:#469165 ;
  text-transform: uppercase;
  font-weight:500 ;
}

.brain_info h4{
  font-weight: bold;
  font-size: 48px;
  color: #001931;
}



.brain_info_list ul{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap:16px ;
}

 .brain_info_list .brain_list{
  display: flex;
  gap:6px ;
   color: #001931;
  font-weight: 500;
 }

 /* early access section */


 .early_access_area{

padding-bottom: 120px;

 }


 .early_access_main_container{

  padding: 60px 0;
  background-color:#F7F6F2 ;
border-radius: 12px;

 }

 .early_access_info{
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
padding: 0 20px;
 }


 .early_access_info h3{
  font-size: 40px;
  font-weight: bold;
  color:#001931 ;
  margin-bottom: 16px;
 }

 .early_access_info p{
  line-height: 24px;
  
 }


.early_access_btn_area{
  margin-top: 24px;
  display: flex;
  justify-content: center;

}

.early_access_btn_area button{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.our_early_access_feature{
  margin-top: 16px;
}
.our_early_access_feature span{
  color: #627382;
}


/* footer area */

.footer_area{
  padding-top:120px ;
  background-color: #001931;
}


.footer_item{
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}


.footer_item .social_link_container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social_link_container span{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}

.social_link_container .icons{
  display: flex;
  gap: 16px;
  color: #FFFFFF;
  cursor: pointer;
}


.copyright_area{
  text-align: center;
  margin-top: 40px;
  padding: 30px 0;
  border-top: 1px solid rgb(46, 66, 87);
}
















